@import "tailwindcss";

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  background: #0f172a;
  color: #f8fafc;
  font-family: Arial, Helvetica, sans-serif;
}
